# clojure
*.jar
target
clojure.iws
clojure.ipr
nbproject/private/
maven-classpath
maven-classpath.properties
.idea/
*.nrepl-port
clojure/.lein-repl-history
# emacs
*~
\#*\#
.\#*

# ivan
ivan/bin

# vim
*.swp

# elixir
*.beam
